{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Account - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.7.0.js'%}"></script>
    <script>
        $(document).ready(function(){
            $("#btnSubmit").click(function(){ //alert('ok1');                
                var pass1 = $("#exampleInputPassword1").val(); console.log(pass1);
                var pass2 = $("#confirmpassword").val(); console.log(pass2);
                if(pass1 == pass2 ){
                    return true;                    
                }else { return false; alert('Password not matched with confirm Password ');}
            });
        });

    </script>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background: url('https://ksksampath-glorious-goldfish-wr95g9974vp2g7xq-8000.preview.app.github.dev/static/img/undraw_posting_photo.svg');background-position: center;   background-size: cover;"></div>

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <div> {%if message is none %} {{message}} {%endif%}</div>
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" action="/create_account" method="post">
                                {%csrf_token%}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name" name="first_name" maxlength="50" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"  placeholder="Last Name" name="last_name" maxlength="50" required >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user" id="email" placeholder="Email@com" name="mail_id" maxlength="50" required >
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="phno"  placeholder="Mobile No." name="phno" maxlength="10" required >
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                </div> -->
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"  id="exampleInputPassword1" placeholder="Password" name="password" maxlength="50" required >
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="confirmpassword" placeholder="Repeat Password" name="confirmpassword" maxlength="50" required >
                                    </div>
                                </div>
                                <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block" id="btnSubmit">
                                <!-- <a href="/create_account" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a> -->
                                <hr>
                                <a href="https://accounts.google.com/v3/signin/identifier?dsh=S1208797081%3A1684335489300530&ifkv=Af_xneHF2I3O4A8MVQsNw5Ej6ZLwAKDft-yeUJWEwULN8RmlKLxB2a-eyyKiEnamM8H8BjUOv_0TTA&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="https://www.facebook.com/login.php" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login_check">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js'%}"></script>
    

</body>

</html>